* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
  transition: .4s;
  border: none;
  outline: none;
}

@mixin flexboxTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin block {
  transition: .4s;
  border-radius: 10px;
  &:hover {
    transform: scale(1.1);
    background: blueviolet;
  }
}

@mixin sectionId {
  padding: 100px 0;
}


$sizeThree: 55px;
$sizeTwo: 17px;
$gorizontal: 90%;
$textHeight: 30px;

$blockBg: #02cEdf;
$img: 80%;

$p: 20px 0;
$pw: 80%;

@import './header/header.scss';
@import './hero/hero.scss';
@import './block/block.scss';
@import './textImage/textImage.scss';
@import './footer/footer.scss';
